<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Targets: archivos donde se guardarán los logs -->
  <targets>
    <target xsi:type="File"
            name="fileLogger"
            createDirs="true"
            fileName="Logs/log-${shortdate}.txt"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}" />
  </targets>

  <!-- Rules: definir qué nivel de log va a qué target -->
  <rules>
    <!-- Todo a archivo, desde Trace hasta Fatal -->
    <logger name="*" minlevel="Trace" writeTo="fileLogger" />
  </rules>
</nlog>